<section class="content-homepage">
  <h2 class="title-home">Routing & Navigation</h2>
  <mat-divider></mat-divider>
  <p>The Angular Router enables navigation from one view to the next as users perform application tasks.
    This guide covers the router's primary features, illustrating them through the evolution of a small application that you can run live in the browser / download example.</p>
  <h3 class="title-overview">Overview</h3>
  <ul class="overview-menu">
    The browser is a familiar model of application navigation:
    <li class="overview-item">Enter a URL in the address bar and the browser navigates to a corresponding page.</li>
    <li class="overview-item">Click links on the page and the browser navigates to a new page.</li>
    <li class="overview-item">Click the browser's back and forward buttons and the browser navigates backward and forward through the history of pages you've seen.</li>
  </ul>
  <p>The Angular Router ("the router") borrows from this model. It can interpret a browser URL as an instruction to navigate to a client-generated view. It can pass optional parameters along to the supporting view component that help it decide what specific content to present. You can bind the router to links on a page and it will navigate to the appropriate application view when the user clicks a link. You can navigate imperatively when the user clicks a button, selects from a drop box, or in response to some other stimulus from any source. And the router logs activity in the browser's history journal so the back and forward buttons work as well.</p>
</section>
