<section class="leftbar-content">
  <mat-list>
    <h3 mat-subheader [routerLink]="['home']">Home</h3>
    <mat-list-item [routerLink]="['home']">
      <mat-icon class="icon-leftbar" mat-list-icon>home</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader [routerLink]="['news']">News</h3>
    <mat-list-item [routerLink]="['news']">
      <mat-icon class="icon-leftbar" mat-list-icon>autorenew</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader [routerLink]="['contact']">Contact</h3>
    <mat-list-item [routerLink]="['contact']">
      <mat-icon class="icon-leftbar" mat-list-icon>contacts</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Link a</h3>
    <mat-list-item>
      <mat-icon class="icon-leftbar" mat-list-icon>add circle outline</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Link b</h3>
    <mat-list-item>
      <mat-icon class="icon-leftbar" mat-list-icon>add circle outline</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Link n</h3>
    <mat-list-item>
      <mat-icon class="icon-leftbar" mat-list-icon>add circle outline</mat-icon>
    </mat-list-item>
  </mat-list>
</section>
