<section class="fill-info" *ngIf="inforPage">
  <h3>Fill Album Infomation:</h3>
  <form [formGroup]="infoForm" novalidate (ngSubmit)="onSubmit()">
    <label>Name:</label>
    <input type="text" formControlName="name">
    <p *ngIf="infoForm.controls.name.invalid">Name not allow empty, minLength = 3 !!!</p>
    <div formGroupName="author">
      <label>Author:</label>
      <input type="text" placeholder="Name" formControlName="nameAuthor">
      <p *ngIf="infoForm.controls.author.controls.nameAuthor.invalid">Name Author not allow empty and min length is 3!</p>
      <input type="text" placeholder="Phone" formControlName="phone">
      <p *ngIf="infoForm.controls.author.controls.phone.invalid">Phone not allow empty, At least 10 characters and must be use number type!</p>
      <input type="email" placeholder="Email" formControlName="email">
      <p *ngIf="infoForm.controls.author.controls.email.invalid">The email must be in the correct format @gmail.com!</p>
    </div>
    <div>
      <label>Types:</label>
      <input type="radio" value="computer" formControlName="type"/>Computer
      <input type="radio" value="youtube" formControlName="type"/>Youtube
    </div>
    <div class="choose-type" formGroupName="files">
      <label>Files:</label>
      <div *ngFor="let file of infoForm.controls.files.controls; let i = index">
        <input type="text" [formControlName]="i" placeholder="{{ linksPlaceholder }}">
        <p *ngIf="file.invalid">{{ errorInfo}}</p>
      </div>
      <input type="button" value="Add" (click)="newFile()">
    </div>
    <input [disabled]="infoForm.invalid" type="submit" value="Submit"/>
  </form>
</section>
